<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div>

      <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="h3 mb-3 font-weight-normal">Please login</h2>

        <label class="sr-only">Username</label>
        <input type="username" class="form-control" placeholder="username" formControlName="username" autofocus>

        <label class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" formControlName="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>


      </form>
      </div>
