#login-form {
  max-width: 300px;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

input[type="email"] {
  margin-top: 20px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
