<p>user works!</p>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li *ngFor="let user of users">
          <a class="btn btn-sm" (click)="selectUser(user)"> {{user.username}}</a>
        </li>
      </ul>

<!--      <div *ngFor="let user of users; index as username">-->

<!--        <h3>-->
<!--          <a [title]="user.username">-->
<!--            {{user.username}}-->
<!--          </a>-->
<!--        </h3>    -->
<!--      </div>-->

    </div>
    <div class="col-md-8">
      <div *ngIf="selectedUser">

      </div>
    </div>
  </div>

</div>
