<p>navbar works!</p>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav">
          <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
          <li><a class="nav-link" routerLink="/login">Login</a></li>
          <li><a class="nav-link" routerLink="/account">Account</a></li>
          <li><a class="nav-link" routerLink="/profile">Profile</a></li>
          <li><a class="nav-link" routerLink="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  
  